[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gunicorn = "*"
slackclient = "*"
"e1839a8" = {path = ".", editable = true}
PyGithub = "*"

[dev-packages]
"pep8" = "*"
nose = "*"
mock = "*"
HTTPretty = "*"

[requires]
python_version = "2.7"
