[[source]]
url = "https://${ARTIFACTORY_CREDENTIALS_USR}:${ARTIFACTORY_CREDENTIALS_PSW}@freshbooks.jfrog.io/freshbooks/api/pypi/pypi/simple"
verify_ssl = true
name = "freshbooks"

[packages]
Flask = "*"
gcp-secrets-fetcher = "2006.0.0"
gunicorn = "*"
slackclient = "<2.0.0"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
"pep8" = "*"
nose = "*"
mock = "*"
codecov = "*"
"flake8" = "*"
coverage = "*"
PyGithub = "*"
httpretty = "*"

[requires]
python_version = "3.8"
