[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gunicorn = "*"
slackclient = "*"
"e1839a8" = {path = ".", editable = true}
PyGithub = "*"
httpretty = "*"
Flask-MySQL = "*"
Flask-SQLAlchemy = "*"
python-mysql = "*"
mysql-connector-python-rf = "*"
configparser = "*"
mysqlclient = "*"

[dev-packages]
"pep8" = "*"
mock = "*"
codecov = "*"
"flake8" = "*"
coverage = "*"
nose = "*"
pylint = "*"

[requires]
python_version = "3.6"
